.multiSelect {
  position: relative;
  width: 300px;
  font-family: sans-serif;

  *,
  *::before,
  *::after {
    transition: all 0.2s ease;
  }

  &[data-open="true"] {
    & .tags {
      border-radius: 10px;
      box-shadow: 0 0 0 3px rgba(100, 115, 231, 0.3);
      border-color: #6473e7;
    }
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    padding: 6px 30px 6px 6px;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: text;
  }

  & .tag {
    background: #e0e0e0;
    margin: 2px;
    padding: 4px 2px 4px 8px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    .removeBtn {
      background: transparent;
      border: none;
      margin-left: 4px;
      cursor: pointer;
    }
  }

  & .input {
    flex: 1;
    border: none;
    outline: none;
    padding: 4px;
    min-width: 60px;
  }

  .chevron {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-40%);
    cursor: pointer;
    z-index: 2;
    svg {
      width: 20px;
      height: auto;
      filter: invert(40%) sepia(0%) saturate(0%) hue-rotate(180deg)
        brightness(96%) contrast(86%);
    }
  }

  & .dropdown {
    border-radius: 10px;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin-top: 10px;
    background: #fff;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    z-index: 10;
    padding: 10px;
    list-style-type: none;
    box-shadow: 0px 0px 13px 0px rgba(61, 61, 61, 0.58);
    -webkit-box-shadow: 0px 0px 13px 0px rgba(61, 61, 61, 0.58);
    -moz-box-shadow: 0px 0px 13px 0px rgba(61, 61, 61, 0.58);

    & .option,
    & .newOption {
      padding: 8px 12px;
      cursor: pointer;

      &:hover {
        background-color: rgba(100, 115, 231, 0.082);
        color: #6473e7;
        border-radius: 10px;
      }
    }

    & .option {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &.isSelected {
        color: #6473e7;
      }
      .checkIcon {
        svg {
          width: 12px;
          height: auto;
        }
      }

      .chevron svg,
      .checkIcon svg {
        width: 12px;
        height: auto;
        fill: currentColor;
        color: #6473e7;
        filter: invert(47%) sepia(63%) saturate(2409%) hue-rotate(224deg)
          brightness(94%) contrast(101%);
      }
    }

    & .newOption {
      font-style: italic;
    }
  }
}
